
/* Navbar */
.Navbar_button{
  background-color:rgb(255, 255, 255) ;
}
/* Navbar */
.navbar{
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #00000091;
  padding: 0;
}


/* Navbar */
.nav-link{
  font-size: 25px !important;
  color: white; /* soft white for normal state */
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #00F0FF !important; /* neon cyan on hover */
  text-shadow: 0 0 5px #00F0FF, 0 0 10px #FF2EF5;
}

.nav-link:active {
  color: #FF2EF5 !important; /* neon magenta for active link */
  text-shadow: 0 0 5px #FF2EF5, 0 0 10px #00F0FF;
}

.button{
  background: linear-gradient(90deg, #FF2EF5, #00F0FF)
}

.nav-link{
  color: white !important;
}

@media (max-width:499.98px){
  .nav-link{
  font-size: 18px !important;
}

img {
    width: 80px;
    height: 80px;
}
}