.about_me{
  text-align: justify !important;
}

.about-head {
  color: #00F0FF;
}

/* /////////////// */


/* .about_me {
  text-shadow: 0 0 5px rgba(255, 46, 245, 0.6), 
               0 0 10px rgba(0, 240, 255, 0.5);
} */

.about_me span {
    color: #00F0FF; /*neon cyan */
  font-weight: bold;
}
.about_me span:nth-child(2n) {
  color: #ff2ef5; /* neon magenta for variety*/
}

/* .about_me {
  color: #E0E0E0; 
  line-height: 1.7;
}  */

.icon{
  width: 500px;
  height: 500px;
}

/* #00F0FF
#ff2ef5 */

@media (max-width:499.98px){
  .about_me{
    font-size: 18px;
  }

  .icon{
  width: 250px;
  height: 300px;
}
}