/* Skills */
.skills div{
  background-color: transparent;
  border-radius: 50%;
  padding: 20px;
  width: 160px;
  height: 160px;
}

/* Skills */
.SQL i{
  font-size: 80px;
}

/* Skills */

img{
  width: 100px;
  height: 100px;
}

.skill-head {
  color: #00F0FF !important;
}

.text {
  color: white !important;
}

@media (max-width:499.98px){
  .text{
    font-size: 18px !important;
    text-align: justify !important;
  }

  .skills div {
    width: 100px;
    height: 100px;
}
}