/* Background */
.educard{
  height: 320px !important;
  border-radius: 15px;
  /* width: 30% !important; */
  background-color: #1a1a1a; /* Dark background for contrast */
  /* border-radius: 10px; */
  /* padding: 15px; */
  border: 1px solid #00e6e6 !important;
  width: 100% !important;
  padding: 0;
}

.card p{
          margin-left: 15px;
          margin-right: 15px;
}
/* Background */
.educard p{
  font-size: 25px;
}

 h2 {
  color: #00e6e6; /* Aqua-like glow color */
  /* text-shadow: 0 0 5px #00e6e6, 
               0 0 10px #00e6e6, 
               0 0 20px #00e6e6, 
               0 0 40px #00cccc; Glow effect */
}

p {
  color: #fff; /* Keep normal text white */
}

@media (max-width:499.98px){
  .institute{
    font-size: 23px;
  }

  .card p{
    font-size: 18px !important;
  }
}